/* Buttons */

.button-green {
    background-color: #43A047;
    color: white;
    &:hover {
      color: white;
    }
  }
  
  .button-red {
    background-color: #F44336;
    color: white;
  }
  
  .button-cyan {
    background-color: #ffe599;
  }
  
  .button-blue {
    background-color: #6fa8dc;
    border-color: white;
    color: white;
    &:hover {
      color: white;
    }
  }
  
  .button-black {
    background-color: #000000;
    border-color: white;
    color: white;
    &:hover {
      color: white;
    }
  }
  
  .button-yellow {
    background-color: #ffe599;
  }
  
  .button-lightgreen {
    background-color: #b7e1cd;
  }
  
  .button-disabled {
    background: #ccc;
    border-color: #ccc;
    text-shadow: none;
    pointer-events: none;
  }
  
  .updatespinner, .assignspinner {
    display: none;
    vertical-align: middle;
    margin-left: 60px;
  }