/* DataTables */

table {
    border-collapse: collapse;
  }
  
  .dataTables_length, .dataTables_filter {
    width: 25%;
    display: inline-block;
  }
  
  .clickable-row {
    cursor: pointer;
  }
  
  .dataTables_paginate a {
    margin-right: 6px;
    cursor: pointer;
  }
  
  td:first-child, th:first-child {
    padding-left: 8px;
  }
  
  #articles-table > tbody td.status-cell {
    &[value*="Technical"] {
      background-color: #6fa8dc;
    }
    &[value*="Revisions"] {
      background-color: #FF6D00;
    }
    &[value*="Passed"] {
      background-color: #b7e1cd;
    }
    &[value*="Published"] {
      background-color: #6aa84f;
    }
    &[value*="Failed"] {
      background-color: #e06666;
    }
    &[value*="In Review"] {
      background-color: #ffe599;
    }
    &[value*="Ready to Publish"] {
      background-color: #00ffff;
    }
  }
  
  span {
    padding: 8px;
    border: 1px solid white;
    border-radius: 4px;
    &[value*="Technical"] {
      background-color: #6fa8dc;
    }
    &[value*="Passed"] {
      background-color: #b7e1cd;
    }
    &[value*="Published"] {
      background-color: #6aa84f;
    }
    &[value*="Failed"] {
      background-color: #e06666;
    }
    &[value*="In Review"] {
      background-color: #ffe599;
    }
    &[value*="Ready to Publish"] {
      background-color: #00ffff;
    }
  }
  
  tr {
    transition: 0.3s all ease-in-out;
    &:hover {
      transition: 0.3s all ease-in-out;
    }
  }
  
  tbody > tr:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  td {
    padding: 8px;
  }