/* Cool toast */

.toast {
    min-width: 100px;
    min-height: 15px;
    background: #323232;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    color: white;
    padding: 16px;
    position: fixed;
    bottom: -100px;
    left: 20px;
    z-index: 99999;
  }
  
  .toast-opening {
    animation: openToast 1s;
    bottom: -100px;
  }
  
  .toast-closing {
    animation: closeToast 1s;
  }
  
  @keyframes openToast {
    from {
      bottom: -100px;
    }
  
    to {
      bottom: 20px;
    }
  }
  
  
  @keyframes closeToast {
    from {
      bottom: 20px;
    }
  
    to {
      bottom: -100px;
    }
  }